body
{
  color: white;
  background: #8fecef;
}
span
{
  font-size: 30px;
}
#camera , #snap
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
font-size: 20px;
font-weight: bold;
border-radius: 20px;
letter-spacing: 4px;
}

label{
font-size: 15px;
background-color: rgb(66, 163, 145);
padding: 5px;
border-radius: 15px;
}

p{
    color: rgb(167, 14, 108);
}

#para{
    color: navy;
}